/* ThemeRoller Dark Hive override style sheet for jQuery date picker v5.0.0. */
@import "ui.datepick.css";

.ui-widget-header a, .ui-widget-header select {
	color: #ffffff; /* Set (.ui-widget-header a) colour from theme here */
}

.ui-widget-header a:hover {
	background-color: #003147;
	/* Set (.ui-state-hover) colours from theme here */
	color: #ffffff;;
}

.ui-widget-header select, .ui-widget-header option {
	background-color: #444444;
	/* Set (.ui-widget-header) background colour from theme here */
}

.ui-state-highlight a {
	color: #eeeeee; /* Set (.ui-state-highlight) colour from theme here */
}