/* ThemeRoller Pepper Grinder override style sheet for jQuery date picker v5.0.0. */
@import "ui.datepick.css";

.ui-widget-header a, .ui-widget-header select {
	color: #453821; /* Set (.ui-widget-header a) colour from theme here */
}

.ui-widget-header a:hover {
	background-color: #654b24;
	/* Set (.ui-state-hover) colours from theme here */
	color: #ffffff;
}

.ui-widget-header select, .ui-widget-header option {
	background-color: #ffffff;
	/* Set (.ui-widget-header) background colour from theme here */
}

.ui-state-highlight a {
	color: #3a3427; /* Set (.ui-state-highlight) colour from theme here */
}