/* ThemeRoller TronTastic override style sheet for jQuery date picker v5.0.0. */
@import "ui.datepick.css";

.ui-widget-header a, .ui-widget-header select {
	color: #222222; /* Set (.ui-widget-header a) colour from theme here */
}

.ui-widget-header a:hover {
	background-color: #000000;
	/* Set (.ui-state-hover) colours from theme here */
	color: #96f226;
}

.ui-widget-header select, .ui-widget-header option {
	background-color: #9fda58;
	/* Set (.ui-widget-header) background colour from theme here */
}

.ui-state-highlight a {
	color: #030303; /* Set (.ui-state-highlight) colour from theme here */
}